@page {
  margin-left: 0.8in;
  margin-right: 0.8in;
  margin-top: 0.8in;
  margin-bottom: 0.8in;
  size: landscape;
}

body {
  font-family: Arial, Verdana, sans-serif;
  line-height: 130%;
  font-size: 11pt;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
}

table, th, td {
  border: 1px solid #808080 !important;
  line-height: 130% !important;
}

table {
  margin: 0 0 1.5em 0;
}

thead {
  background-color: #F2F2F2;
}

th {
  text-align: center !important;
}

td {
  padding: 0.1em 0.2em 0.1em 0.2em !important;
}

.table2 td:nth-child(n+3)  {
  text-align: right !important;
}

#front-cover-title {
  font-family: 'Oswald', sans-serif;
  position: absolute;
  top: 5.8in;  /* Depends on page and image dimensions */
  font-size: 0.48in;
  transform: translate(0, -50%);
}

#front-cover-subtitle {
  font-family: 'Oswald', sans-serif;
  position: absolute;
  top: 6in;  /* Depends on page and image dimensions */
  font-size: 0.28in;
  line-height: 120%;
  transform: translate(0, -50%);
}

#front-cover-author {
  font-family: sans-serif;
  position: absolute;
  top: 6.4in;  /* Depends on page and image dimensions */
  font-size: 0.18in;
  line-height: 120%;
  transform: translate(0, -50%);   
  overflow: hidden;  
}

.customer-specific {
  color: red;
}

.table1 td:not(:first-child) {
  text-align: right;
}

/*
img {
  max-height: 80vh;
}


.figure3, .figure4  {
  max-height: 90vh
}
*/

.figure6, .figure7 {
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
}

/* Footnotes */

@media print {
  footer {
    page-break-after: always;
  }
}

article {
  counter-reset: footnotes;
}

footer {
  margin-top: 5em;
  border-top: 1px solid silver;
  font-size: 0.8em;
}

footer ol {
  padding-left: 2em;
}

footer :target {
  background: yellow;
}

[aria-describedby='footnote-label'] {
  counter-increment: footnotes;
  text-decoration: none;
  color: inherit;
  cursor: default;
  outline: none;
}

[aria-describedby='footnote-label']::after {
  content: '[' counter(footnotes) ']';
  vertical-align: super;
  font-size: 0.5em;
  margin-left: 0.3em;
  color: blue;
  cursor: pointer;
}

[aria-describedby='footnote-label']:focus::after {
  outline: thin dotted;
  outline-offset: 0.3em;
}

[aria-label='back to content'] {
  font-size: 0.8em;
}